# Jhonson

In [1]:
import numpy as np
import matplotlib.pylab as plt
import pandas as pd
import seaborn as sns
plt.rcParams.update({"font.size":18,
                    "figure.figsize":(18,7)})

In [6]:
def load_data(name, x="TIME", y="CH1", x_new="t",y_new="V"):
    p="jhonson_noise"
    data=pd.read_csv("{}/{}.csv".format(p,name),skiprows=16)#, usecols=[x, y])
    #data.rename(columns={x:x_new,
    #                    y:y_new}, inplace=True)
    return data

In [7]:
data=load_data("1")

In [8]:
data

,Note,TBS 1102B-EDU - 11:29:21 a. m. 17/11/2021,Unnamed: 2,-49.35999823E-6,-200.00000298E-3,Unnamed: 5,Note.1,TBS 1102B-EDU - 11:29:21 a. m. 17/11/2021.1,Unnamed: 8,-49.35999823E-6.1,379.99999523E-3,Unnamed: 11
0,NaN,NaN,NaN,-0.000049,-0.2,NaN,NaN,NaN,NaN,-0.000049,0.38,NaN
1,NaN,NaN,NaN,-0.000049,-0.2,NaN,NaN,NaN,NaN,-0.000049,0.38,NaN
2,NaN,NaN,NaN,-0.000049,-0.2,NaN,NaN,NaN,NaN,-0.000049,0.38,NaN
3,NaN,NaN,NaN,-0.000049,-0.2,NaN,NaN,NaN,NaN,-0.000049,0.38,NaN
4,NaN,NaN,NaN,-0.000049,-0.2,NaN,NaN,NaN,NaN,-0.000049,0.38,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2478,NaN,NaN,NaN,0.000050,-0.4,NaN,NaN,NaN,NaN,0.000050,0.38,NaN
2479,NaN,NaN,NaN,0.000050,-0.4,NaN,NaN,NaN,NaN,0.000050,0.38,NaN
2480,NaN,NaN,NaN,0.000050,-0.4,NaN,NaN,NaN,NaN,0.000050,0.38,NaN
2481,NaN,NaN,NaN,0.000050,-0.4,NaN,NaN,NaN,NaN,0.000050,0.38,NaN
2482,NaN,NaN,NaN,0.000050,-0.4,NaN,NaN,NaN,NaN,0.000050,0.38,NaN

In [ ]:
)